@model IEnumerable<ProductAssignResponse>
@{
    ViewBag.Title = "All Product Assignment List";
}

<h2> Product Assignment History </h2>

<table class="table table-striped shadow-sm p-3 my-2 bg-dark rounded p-3" id="ProductAssignmentTabel ">
    <thead>
        <tr>
            <th>Assignment Id</th>
            <th>Party Id</th>
            <th>Party Name</th>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Party Details</th>
            <th>Product Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductAssignId</td>
                <td>@product.PartyID</td>
                <td>@product.PartyName</td>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>
                    <a asp-action="Details" asp-controller="Party" asp-route-partyId="@product.PartyID" class="btn btn-info btn-sm">Party Details</a>
                </td>
                
                <td>
                    <a asp-action="Details" asp-controller="Product" asp-route-productId="@product.ProductId" class="btn btn-info btn-sm">Product Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#ProductAssignmentTabel').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                columnDefs: [
                    {
                        targets: [-1 ,-2], // Targets the last column
                        searchable: false,// Disables searching/filtering for this column
                        sortable: false
                    }
                ]
            });
        });
    </script>

}
