@model IEnumerable<InvoiceResponseDTO>

@{
    ViewBag.Title = "Invoice";
}

<h1> Create a Invoice</h1>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" asp-controller="Invoice" class="btn btn-secondary">Create Invoice</a>  
}


<table class="table table-striped shadow-sm p-3 my-2 bg-dark rounded p-3" id="InvoiceTable">
    <thead>
        <tr>
            <th>Invoice ID</th>
            <th>Party ID</th>
            <th>PartyName</th>
            <th>Total Product</th>
            <th>Total Bill</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.InvoiceId</td>
                <td>@invoice.PartyId</td>
                <td>@invoice.PartyName</td>
                <td>@invoice.ProductCount</td>
                <td>@invoice.Total</td>
                <td>
                    <a asp-action="Details" asp-controller="Invoice" asp-route-InvoiceId="@invoice.InvoiceId" class="btn btn-info btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#InvoiceTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                columnDefs: [
                    {
                        targets: -1, // Targets the last column
                        searchable: false,// Disables searching/filtering for this column
                        sortable: false
                    }
                ]
            });
        });
    </script>

}

