@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery

@model ProductAssignDTO

@{
    ViewBag.Title = "Party Details";
}

<h1> Party Details </h1>

<h3> @Model.PartyResponseDTO.PartyName </h3>

<p> Party ID : @Model.PartyResponseDTO.PartyId </p>

<p> Total Product : @Model.ProductResponseDTOs.Count() </p>

@if (User.IsInRole("Admin"))
{
    <a asp-action="ProductAssign" asp-controller="ProductAssignment" asp-route-partyId="@Model.PartyResponseDTO.PartyId" class="btn btn-secondary btn-sm">Assign Product</a> 
}

@Html.AntiForgeryToken()

<a asp-action="InvoiceByParty" asp-controller="Invoice" asp-route-partyId="@Model.PartyResponseDTO.PartyId" class="btn btn-secondary btn-sm">All Invoice</a>

<table id="PartyAssigment" class="display table table-striped shadow-sm p-3 my-3 bg-dark rounded p-3">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.ProductResponseDTOs)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Price</td>
                <td>
                    <a asp-action="Details" asp-controller="Product" asp-route-productId="@product.ProductId" class="btn btn-info btn-sm">Details</a>
                    <button class="btn btn-danger btn-sm" onclick="confirmUnassign('@product.ProductId', '@Model.PartyResponseDTO.PartyId')">Remove</button>
                </td>

            </tr>
        }
    </tbody>
</table>



@section Scripts {

    <script>
        var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();

        function confirmUnassign(productId, partyId) {
            if (confirm("Are you sure you want to remove this product from the party?")) {


                console.log(productId, partyId)
                $.ajax({
                    url: '@Url.Action("UnAssignProduct", "Party")', // Backend action to unassign product
                    type: 'POST',
                    data: { productId: Number(productId), partyId: Number(partyId) },
                    headers: {
                        'RequestVerificationToken': antiForgeryToken
                    },
                    success: function (response) {
                        if (response.success) {
                            alert("Product unassigned successfully!");
                            location.reload(); // Reload the page to refresh the table
                        } else {
                            alert("Error unassigning product.");
                        }
                    },
                    error: function () {
                        alert("Failed to unassign product. Please try again.");
                    }
                });
            }
        }



        $(document).ready(function () {
            $('#PartyAssigment').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                columnDefs: [
                    {
                        targets: -1, // Targets the last column
                        searchable: false,// Disables searching/filtering for this column
                        sortable: false
                    }
                ]
            });
        });
    </script>
}
