@model IEnumerable<PartyResponseDTO>;

<h1> Party </h1>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" asp-controller="Party"><button class="btn bg-secondary">Create Party</button></a>  
}

<table class="table table-striped shadow-sm p-3 my-2 bg-dark rounded p-3" id="Party">
    <thead>
        <tr>
            <th>Id</th>
            <th>Party Name</th>
            <th>Email</th>
            <th>Recive Notfication</th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var party in Model)
        {
            <tr>
                <td>@party.PartyId</td>
                <td>@party.PartyName</td>
                <td>@party.EmailAddress</td>
                <td>@party.ReceiveNotifications</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Update" asp-controller="Party" asp-route-partyId="@party.PartyId" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-controller="Party" asp-route-partyId="@party.PartyId" class="btn btn-danger btn-sm">Delete</a>
                    }

                    <a asp-action="Details" asp-controller="Party" asp-route-partyId="@party.PartyId" class="btn btn-info btn-sm">Details</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="create" asp-controller="Invoice" asp-route-partyId="@party.PartyId" class="btn btn-info btn-sm">Create Invoice</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#Party').DataTable({
                paging: true,       
                searching: true,    
                ordering: true,    
                info: true ,
                columnDefs: [
                    { 
                        targets: -1, // Targets the last column
                        searchable: false ,// Disables searching/filtering for this column
                        sortable : false
                    }
                ]
            });
        });
    </script>
}



