@model IEnumerable<PartyResponseDTO>;

<h1> Party </h1>

<a asp-action="Create" asp-controller="Party">Create Party</a>

<table class="table table-striped" id="Party">
    <thead>
        <tr>
            <th>Id</th>
            <th>Party Name</th>
            <th>Recive Notfication</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var party in Model)
        {
            <tr>
                <td>@party.PartyId</td>
                <td>@party.PartyName</td>
                <td>@party.ReceiveNotifications</td>
                <td>
                    <a asp-action="Update" asp-controller="Party" asp-route-partyId="@party.PartyId" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-controller="Party" asp-route-partyId="@party.PartyId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#Party').DataTable({
                paging: true,        // Enables pagination
                searching: true,     // Enables searching
                ordering: true,      // Enables column ordering
                info: true           // Displays table information (e.g., showing entries 1 to 10 of 57)
            });
        });
    </script>

}



